<div class="p-grid">
  <div class="p-col-2 b-border">
    <div class="p-grid p-p-4">
      <p-button (click)="clickMyAccount()" label="My Account" styleClass="p-button-link"></p-button>
    </div>
    <div class="p-grid p-p-4">
      <p-button (click)="clickStudentInfo()" label="Students Info" styleClass="p-button-link"></p-button>
    </div>
    <div class="p-grid p-p-4">
      <p-button (click)="clickTeacherInfo()" label="Teachers Info" styleClass="p-button-link"></p-button>
    </div>
  </div>
  <div class="p-col-10 b-border">
    <div class="p-grid b-border">
      <div class="p-col-10 p-text-center p-text-bold p-mt-2">
        Students Information
      </div>
      <div class="p-col-2 p-text-right">
        <p-button (click)="logout()" label="Logout" styleClass="p-button-link"></p-button>
      </div>
    </div>
    <div class="p-grid p-p-4 p-justify-center">
      <p-toast></p-toast>

      <div class="card">
        <p-table #dt [value]="students" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
              <!--<span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
              </span>-->
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="parentName">Parent Name <p-sortIcon field="parentName"></p-sortIcon></th>
              <th pSortableColumn="parentContact">Parent Contact <p-sortIcon field="parentContact"></p-sortIcon></th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-student>
            <tr>
              <td>{{student.name}}</td>
              <td>{{student.parentName}}</td>
              <td>{{student.parentContact}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editStudent(student)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStudent(student)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              In total there are {{students ? students.length : 0 }} Students.
            </div>
          </ng-template>
        </p-table>
      </div>

      <p-dialog [(visible)]="studentDialog" [style]="{width: '450px'}" header="Add Student" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="student.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !student.name">Name is required.</small>
          </div>

          <div class="p-field">
            <label for="name">Parent's Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="student.parentName" required />
            <small class="p-invalid" *ngIf="submitted && !student.parentName">Parent's Name is required.</small>
          </div>

          <div class="p-field">
            <label for="name">Parent's Contact</label>
            <input type="text" pInputText id="name" [(ngModel)]="student.parentContact" required />
            <small class="p-invalid" *ngIf="submitted && !student.parentContact">Parent's Contact is required.</small>
          </div>

          <div class="p-field" *ngIf="!isEditForm">
            <label>Password</label>
            <input type="password" pPassword id="password" [(ngModel)]="student.password" required />
            <small class="p-invalid" *ngIf="submitted && !student.password">Password is required.</small>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
          <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveStudent()"></button>
        </ng-template>
      </p-dialog>

      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
  </div>
</div>
